<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      © Since 2017 <a href="https://riotz.works/">Riotz.works</a><br>
      投稿や発言は私的なものであり、所属する企業や組織には関係ありません。
    </div>
  </div>
</footer>
