#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption
  &:before
    font-family: unicons
    font-weight: normal
    margin-right: 4px

.widget-title.authors
  &:before
    content: "\ebef"

.widget-title.archive
  &:before
    content: "\e835"

.widget-title.category
  &:before
    content: "\ea10"

.widget-title.recent
  &:before
    content: "\eb93"

.widget-title.tag
  &:before
    content: "\ebab"

.widget-title.tagcloud
  &:before
    content: "\e905"

.widget
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 15px
  border-radius: 3px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc


.widget-title.recent + div li
  margin-bottom: 12px
  &:last-child
    margin-bottom: 0