#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption
  &:before
    font-family: unicons
    font-size: 20px
    font-weight: normal

.widget-title.authors
  &:before
    content: "\ec1a"

.widget-title.archive
  &:before
    content: "\e83a"

.widget-title.category
  &:before
    content: "\eaa3"

.widget-title.popular
  &:before
    content: "\ebae"

.widget-title.recent
  &:before
    content: "\ebb5"

.widget-title.tag
  &:before
    content: "\ebce"

.widget-title.tagcloud
  &:before
    content: "\e913"

.widget
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 15px
  border-radius: 3px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc

.widget-title.popular + div li
  margin-bottom: 12px
  &:last-child
    margin-bottom: 0
  h3
    font-size: inherit

.widget-title.recent + div li
  margin-bottom: 12px
  &:last-child
    margin-bottom: 0
