.widget-wrap
  margin-bottom: block-margin !important
  @media mq-normal
    column(main-column)

.widget-title
  color: #ccc
  text-transform: uppercase
  letter-spacing: 2px
  margin-bottom: .5em
  line-height: 1em
  font-weight: bold
  &:before
    font-family: unicons
    font-weight: normal
    margin-right: 4px

.widget-title.archive
  &:before
    content: "\e835"

.widget-title.category
  &:before
    content: "\ea10"

.widget-title.recent
  &:before
    content: "\eb93"

.widget-title.tag
  &:before
    content: "\ebab"

.widget-title.tagcloud
  &:before
    content: "\e905"

.widget
  color: color-grey
  ul, ol
    li
      display: inline-block
      zoom:1
      *display:inline
      padding-right: .75em
/* Having problems getting balanced white space between items
    li:before
      content: " | "
    li:first-child:before
      content: none
 */
